! urxvt - built on https://github.com/okubax/dotfiles
!URxvt.background: #101010
!URxvt.foreground: #999993
!URxvt.cursorColor: #395573
!URxvt.cursorColor: #676767
!URxvt.borderColor: #101010
!URxvt.colorUL: #31658C
URxvt.borderless: false
URxvt.internalBorder: 3
URxvt.externalBorder: 3
URxvt.scrollBar: false
URxvt.font: xft:input\ mono:pixelsize=12:antialias=true
URxvt.boldFont: xft:input\ mono:bold:pixelsize=12:antialias=true
URxvt.letterSpace: -1

! transparency
!URxvt.transparent: true
!URxvt.tintColor: #101010
!URxvt.shading: 4

! clickable urls
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: /usr/bin/palemoon
URxvt.matcher.button: 1

! tabs
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tabbar-fg: -2
URxvt.tabbed.tab-bg: -2
URxvt.tabbed.tab-fg: -1
URxvt.tabbed.title-bg: -1
URxvt.tabbed.title-fg: -2
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false
URxvt.tabbed.title: true


! colours
!#include "/home/ylli2/.colors/gaseg"
!#include "/home/ylli2/.colors/rb15"
!#include "/home/ylli2/.colors/jsch"
!#include "/home/ylli2/.colors/s3r0"
!#include "/home/ylli2/.colors/hund"
#include "/home/ylli2/.colors/coral"
 
! fonts
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight


